/* image source: https://www.pexels.com/photo/blooming-sakura-tree-in-daylight-6830332/ */

body {
    background-image: url("https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/v546batch3-mynt-34-badgewatercolor_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=89288ef4b47127f7f34a5998b50e4470");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 0;
    margin: 0;
}

p {
    text-align: center;
    font-family: Helvetica;
    font-size: 2.5rem;
    font-weight: 900;
    color: #f7fcfd;
    text-shadow:
        2px 2px 0 rgb(70, 36, 8),
        2px -2px 0 rgb(70, 36, 8),
        -2px 2px 0 rgb(70, 36, 8),
        -2px -2px 0 rgb(70, 36, 8),
        2px 0px 0 rgb(70, 36, 8),
        0px 2px 0 rgb(70, 36, 8),
        -2px 0px 0 rgb(70, 36, 8),
        0px -2px 0 rgb(70, 36, 8);
}

form {
    background-color: hsla(110, 29%, 76%, 0.027);
    text-align: center;
    font-family: Helvetica;
    font-size: 2rem;
    font-weight: 900;
    color: rgb(4, 5, 13);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 30%;
    line-height: 0.6;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    border-radius: 5rem;
    border: none;
    width: 300px;
    height: 50px;   
}

.remember {
    color: black;
    font-size: 1.2rem;
    font-weight: 900;
    /* margin-right: 10rem; */
}

#remember {
    height: 15px;
    width: 15px;
    margin-left: 200px;
    margin-top: -0.65rem;
}

button {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    font-family: Helvetica;
    font-size: 25px;
    font-weight: 900;
    background-color: rgb(70, 36, 8);
    color: white;
    margin-bottom: 2rem;
    margin-top: 2rem;
    border: none;
    border-radius: 50px;
    width: 150px;
    height: 60px;
}

#error {
    text-align: center;
    width: 35%;
    margin: 0 auto;
    background-color: rgb(70, 36, 8);
    color: white;
    font-family: Helvetica;
    font-size: 2rem;
}