{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form</title>
    <link rel="stylesheet" href="{% static 'css/s_login.css' %}">
</head>
<body>

    <div id="conteiner">
    <form method="POST" id="form">
        <p>Login</p>
        <label for="user">Username</label><br>
        <input type="text" id="user" name="user" required><br>
        <label for="password">Password</label><br>
        <input type="password" id="password" name="password"><br><br>
        <label for="remember" class="remember"> &ensp;&ensp; Remember me &ensp;&ensp; </label>
        <input type="checkbox" id="remember" name="Remember">
        <button type="submit">Login</button>
    </form>
    <div id="error"></div>
    </div>
    <script src="{% static 'css/login.js' %}"></script>

</body>
</html>