{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login form</title>
    <link rel="stylesheet" href="{% static 'css/t_login.css' %}">
</head>
<body>

    <div id="conteiner">
    <form method="POST" id="form">
        {% csrf_token %}
        <p>Login</p>
        <label for="user">Username</label><br>
        <input type="text" name="tea_id" required><br>
        <label for="password">Password</label><br>
        <input type="password" name="t_pass"><br><br>
        <label for="remember" class="remember"> &ensp;&ensp; Remember me &ensp;&ensp; </label>
        <input type="checkbox" id="remember" name="Remember">
        <a href="{% url 'teacher:hom' %}"><button type="submit">Login</button></a>
        {{error_message}}

    </form>
    <div id="error"></div>
    </div>
    <script src="{% static 'css/login.js' %}"></script>

</body>
</html>